{% extends 'view/layout/base.html' %}

{% block body %}
    <h1 class="title is-1">Índice de autos</h1>

    <nav class="level-right">
        <div class="level-item">
            <a class="button is-success is-medium is-outlined" href="/car/create">
                <span>Agregar</span>
                <span class="icon is-small">
                    <i class="fas fa-plus"></i>
                </span>
            </a>
        </div>
    </nav>

    <div class="table-container">
        <table class="table is-striped is-hoverable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Imagen</th>
                    <th>Año</th>
                    <th>Kilometraje</th>
                    <th>Color</th>
                    <th>Aire Acondicionado</th>
                    <th>Pasajeros</th>
                    <th>Transmisión</th>
                    <th>Precio x Dia</th>
                </tr>
            </thead>

            <tbody>
                {% for car in cars %}

                    <tr>
                        <td>{{car.id}}</td>
                        <td>{{car.brand}}</td>
                        <td>{{car.model}}</td>
                        <td>
                            <figure class="image is-128x128">
                                <img src="/{{car.img}}" width="128" height="128"/>
                            </figure>
                        </td>
                        <td>{{car.year}}</td>
                        <td>{{car.kms + "KM" if car.kms == "0" else car.kms + "KMS"}}</td>
                        <td>{{car.color}}</td>
                        <td>{{car.airConditioning}}</td>
                        <td>{{car.passengers}}</td>
                        <td>{{car.transmission}}</td>
                        <td>{{car.pricePerDay}}</td>
                        <td>
                            <a class="button is-link is-outlined" href="{{ '/car/view/' + car.id }}">
                                <span>Ver</span>
                                <span class="icon is-small">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}