{% extends 'view/layout/base.html' %} {% block body %}
<h1 class="title is-1">Índice de alquileres</h1>

<nav class="level-right">
  <div class="level-item">
    <a class="button is-success is-medium is-outlined" href="/rental/create">
      <span>Agregar</span>
      <span class="icon is-small">
        <i class="fas fa-plus"></i>
      </span>
    </a>
  </div>
</nav>

<div class="table-container">
  <table class="table is-striped is-hoverable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Precio <abbr title="Unitario">Unit.</abbr></th>
        <th>Auto</th>
        <th>Cliente</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Precio Total</th>
        <th>Metodo de Pago</th>
        <th>Pago</th>
        <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      {% for rental in rentals %} {% include "rental/view/layouts/table-row.html" %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block footerScripts %}
<script src="/public/js/rental-index.js"></script>
{% endblock %}
